body{
    /* font  */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed&display=swap');
   
}
/* header-menu */

header{
    margin-bottom: 100px;
}
.top-header{
display: flex;
margin-top: 100px;
margin-left: 70px;
}
 .menu-bar{
     
     margin-top: px ;
     margin-left: 60%;
} 

.cart-plus{
    font-size: 20px;
}
nav > ul{
    display: flex;
}
 nav li{
    list-style: none;
    margin-right: 1em;


 }
 nav li a{
     text-decoration: none;
     color: black;
     font-size: 18px;
 }

h1{
    font-size: 30px;

    
    margin-bottom: 50px;
}

/* start now */

.container{
    margin-left: 80px;
    margin-right: 80px;
   
}
.main-camera{
    display: flex;
   
}
.button{
    background-color:rgb(196, 13, 98);
    text-decoration: none;
    color: rgb(252, 249, 249);
    padding: 10px;
    border-radius: 50px;
}

.half-width{
    width: 50%;
   
}
.half-width img{
    width: 80%;
}
/* popular area  */
#center{
    text-align: center;
}
.field{
    color: rgb(241, 218, 7);
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:20px;
    justify-content: center;
    align-items: center;
 
}
.popolar-collection{
    background-color: rgb(253, 238, 253); 
   margin-left: 20px;
   margin-bottom: 10px;
   border-radius: 20px;
   padding: 10px;
   width: 90%;
   
}
.collection-photo img {
    width: 100%;
}
.site-btn{
    text-align: right;
    /* background-color: rgb(249, 250, 253);
*/

}
#btn{
    color:rgb(196, 13, 98);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
/* bounus-site */
.flexible-container{
    display: flex;
    margin-left: px;
    margin-top: 100px;
}
.join-btn{
    text-decoration: none;
    background-color:rgb(196, 13, 98);
    color: white;
    padding: 5px 20px;
}
/* footer-section */
.footer-item{
    background-color: rgb(4, 2, 42);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    
    
}
.icon{
    margin-left:10px;
    font-size: 25px;
}